<div class="container-fluid">
  <div class="row" id="home1">
    <div class="col-xs-12 col-sm-5" id="title-container">
      <div class="title-content text-center">
        <h2>EA Ox Conversations</h2>
        <p>All the boxes at the bottom are conversations waiting to happen - submitted by people who want to chat.</p>
        <p>Want to chat about something else? Submit your own topic using the box.</p>
        <!-- <button class="btn btn-info">about</button> -->
      </div>
    </div>
    <div class="col-xs-12 col-sm-7" id="hero-container">
      <%= render 'shared/ticket-form' %>
    </div>
  </div>
</div>

<div id="home2" class="text-center">

  <h3 class="subtitle">Topics on Discussion</h3>
  <p>Find a conversation you’re interested in, and click on it to see more information.</p>
  <div class="row" id="topic-cards">
    <% @open_tickets.try(:each) do |ticket| %>
      <%= link_to ticket_path(ticket) do %>
        <div class="col-xs-12 col-sm-4 col-md-3 topic-card-container">
        <%= render 'shared/topic-card', ticket: ticket %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div id="home3" class="text-center">

  <h3 class="subtitle">Get in touch with the committee</h3>
  <div class="row" id="topic-cards">
    <% if @committee_tickets != [] %>
      <% @committee_tickets.try(:each) do |ticket| %>
        <%= link_to ticket_path(ticket) do %>
          <div class="col-xs-12 col-sm-4 col-md-3 topic-card-container">
          <%= render 'shared/topic-card', ticket: ticket %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
