<div class="container" id="show1">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Topic: <%= @ticket.title %></h1>
      <div class="ticket-description"><%= @ticket.description %></div>
      <%= render 'shared/comment-form' %>
      <div class="comments">
        <% @ticket.comments.each do |comment| %>
          <div class="single-comment">
            <% if comment.user == current_user %>
              <%= comment.content %>
              <%= link_to "x", ticket_comment_path(@ticket, comment), method: :delete %>
            <% else %>
              <%= comment.content %>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= link_to take_ticket_path(@ticket) do %>
        <button class="btn btn-primary btn-block" id="btn-accept">Sign me up!</button>
      <% end %>
    </div>
  </div>
</div>

