<%= @ticket.title %>
<%= @ticket.description %>
<p>Created by <%= @ticket.user %></p>
<h2>Comments</h2>
<ul>
  <% @ticket.comments.each do |comment| %>
    <li>
      <% if comment.user == current_user %>
        <%= comment.content %>
        <%= link_to "x", ticket_comment_path(@ticket, comment), method: :delete %>
      <% else %>
        <%= comment.content %>
      <% end %>
    </li>
  <% end %>
</ul>
<h3>Write a comment</h3>
<%= render 'shared/comment-form' %>
<h3>Take this ticket</h3>
<%= link_to take_ticket_path(@ticket) do %>
  <button>Take the ticket</button>
<% end %>
