<div class="container" id="show1">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h3>Topic: <%= @ticket.title %></h3>
      <% unless @ticket.user == current_user %>
        <h5>Sign up and we'll email introduce you to the person who submitted the topic!</h5>
        <%= link_to take_ticket_path(@ticket) do %>
          <button class="btn btn-primary btn-block" id="btn-accept">Sign me up!</button>
        <% end %>
      <% end %>
      <% unless @ticket.permanent == true %>
        <% if @ticket.user == current_user %>
          <%= render 'shared/comment-form' %>
        <% end %>
        <div class="comments">
          <% unless @ticket.comments == [] %>
            <h3>Comments</h3>
            <% @ticket.comments.each do |comment| %>
              <div class="single-comment">
                <% if comment.user == current_user %>
                  <%= comment.content %>
                  <%= link_to "x", ticket_comment_path(@ticket, comment), method: :delete %>
                <% else %>
                  <%= comment.content %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="text-center">
          <%= link_to "Go back to topics", root_path, class: "btn btn-primary h1" %>
          <% if @ticket.user == current_user %>
            <%= link_to "Delete my topic", ticket_path(@ticket), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger h1"  %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

